
executor{
  queueSize=250
  submitRateLimit = "1 sec"
}

process.executor = 'slurm'
process.queue = 'normal,owners,ellenyeh'

process.clusterOptions = "--output=slurm-logs/slurm-%j.out"
process.errorStrategy = "ignore"

process {
    withLabel: slurm_trivial {
        memory = {2.GB * task.attempt}
        time = {10.m * task.attempt}
        cpus=1
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
    }
}

process {
    withLabel: mapping {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {64.GB + (32.GB * task.attempt)}
        time = {48.h} 
        cpus=16
        }
}

process {
    withLabel: picard {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {32.GB + (32.GB * task.attempt)}
        time = {48.h} 
        cpus=4    
        }
}

process {
    withLabel: trivial {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB + (8.GB * task.attempt)}
        time = {8.h} 
        cpus=2    
        }
}

process {
    withLabel: BQSR {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB + (8.GB * task.attempt)}
        time = {12.h} 
        cpus=2    
        }
}

process {
    withLabel: BQSR {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB + (8.GB * task.attempt)}
        time = {12.h} 
        cpus=2    
        }
}

process {
    withLabel: VR {
        errorStrategy = {task.attempt < 4 ? 'retry' : 'ignore'}
        maxRetries = 5
        memory = {8.GB + (8.GB * task.attempt)}
        time = {4.h} 
        cpus=2    
        }
}