

// genearal parameters
params.results          			= ""    // directory for storing restuls
workDir								= ""    // directory for nextflow work
params.resources        			= "$projectDir/resources/"  // directory for storing resources

params.human_ref 					= "${params.resources}/GCA_000001405.29_GRCh38.p14_genomic.fna.gz"
params.malaria_core					= "${params.resources}/3D7_core_genome.bed"
params.malaria_ref					= "${params.resources}/PlasmoDB-53_Pfalciparum3D7_Genome.fasta"
params.malaria_hash					= "${params.resources}/PlasmoDB-53_Pfalciparum3D7_Genome/"
params.malaria_gen_file				= "${params.resources}/PlasmoDB-53_Pfalciparum3D7_Genome.txt"
params.var_1						= "${params.resources}/3d7_hb3.gatk.final.vcf.gz"
params.var_2						= "${params.resources}/7g8_gb4.gatk.final.vcf.gz"
params.var_3						= "${params.resources}/hb3_dd2.gatk.final.vcf.gz"
process.clusterOptions 				= "" # optional config for slurm

// Data parameters
params.r1							= "${params.resources}/test_data/W2_PC_clone_1_S12_R1_001.sample.fastq"
params.r2 							= "${params.resources}/test_data/W2_PC_clone_1_S12_R2_001.sample.fastq"
